@model Recipes.Models.RecipeVMBase

@{
    ViewBag.Title = "View";
}


<div class="row-fluid" ng-controller='recipeViewController' ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
	<h2>{{recipe.Name}}</h2>
	<img src="{{recipe.ImageUri}}" style="max-width:400px; max-height:400px" />
	
	<div id="ingredients">
		<h4>Ingredients:</h4>
        <div ng-repeat="ingredientGroup in recipe.IngredientGroups">
            <strong>{{ingredientGroup.Text}}</strong>
            <ul  style="list-style-type: none;">
                <li ng-repeat="ingredientItem in ingredientGroup.Items">
                    <label class="checkbox-inline" for="cbIngredientItem-{{$index}}">
                        <input id="cbIngredientItem-{{$index}}" type="checkbox" name="choice" value="" />{{ingredientItem.Text}}
                    </label>
                </li>
            </ul>
        </div>
	</div>

	<div id="procedures">
		<h4>Procedure:</h4>
		<div ng-repeat="procedureGroup in recipe.ProcedureGroups">
			<strong>{{procedureGroup.Text}}</strong>
			<ul style="list-style-type: none;">
                <li ng-repeat="procedureItem in procedureGroup.Items">
                    <label class="checkbox-inline" for="cbProcedureItem-{{$index}}">
                        <input id="cbProcedureItem-{{$index}}" type="checkbox" name="choice" value="" />{{procedureItem.Text}}
                    </label>
                </li>
			</ul>
		</div>
	</div>

	<p>
		@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>
<h4>{{msg}}</h4>

<script src="~/Scripts/Views/Recipe/View.js"></script>
