@model IEnumerable<Recipes.Domain.ShoppingListGroup>

@{
    ViewBag.Title = "EditItems";
}


<style>
    label.checkbox-inline {
        display: block;
    }
</style>


<div class="row-fluid" ng-controller='shoppingListEditItemsController as vm' ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
	<div class="col-md-offset-2 col-md-6">
		<div class="page-header">
			<h2>Shopping List Items</h2>
		</div>

		<div id="groups" class="module panel panel-default">
			@*<div ng-repeat="group in vm.groups">*@
				<label ng-repeat="group in vm.groups" class="radio radio-inline" ng-style={{group.Style}} for="radioShoppingListGroup-{{group.ShoppingListGroupId}}">
					<input ng-change="groupChecked(group)" id="radioShoppingListGroup-{{group.ShoppingListGroupId}}" type="radio" ng-value="group" ng-model="vm.selectedGroup" />{{group.Text}}&nbsp;
				</label>
			@*</div>*@
		</div>


		<div id="items" class="module panel panel-default">
			<div ng-repeat="group in vm.groups" ng-style="{{group.Style}}">
                <h4>{{group.Text}}</h4>
				<ul class="list-unstyled">
					<li ng-repeat="item in group.Items">
						<label class="checkbox checkbox-inline" for="cbShoppingListItem-{{item.ShoppingListItemId}}" ng-style={{item.Style}} >
							<input ng-model="item.IsSelected" ng-change="itemChecked(item)" id="cbShoppingListItem-{{item.ShoppingListItemId}}" type="checkbox" name="choice" value="" />{{item.Text}}&nbsp;
							<a style="cursor: pointer">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</a>
						</label>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<script src="~/Scripts/Views/ShoppingList/EditItems.js"></script>
